:root {
  --primary-color: #202124; /* Dark mode primary color */
  --secondary-color: #ffed4a;
  --background-color: #f8fafc;
  --text-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: block;
  background-color: var(--primary-color);
  color: var(--text-color);
}

header {
  width: 100%;
}

.navbar {
  background-color: var(--primary-color);
  width: 100%;
  padding: 20px 70px;
  height: 60px;
  display: flex;
  align-items: center;
}

.brand {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

main {
  padding: 20px 70px;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
